html{
    scroll-behavior:smooth;
    width : 100%;
    height:100%;
    margin:0px;
    padding:0px;
}

body{
    margin : 0px;
    width : 100%;
    height:100%;
    margin:0px;
    padding:0px;
}

.background-clip{
    position:absolute;
    right : 0;
    bottom : 0;
    z-index :-1;
    margin:0px;
    padding:0px;
}
#logo{
    width : 500px;
    margin-right: 100px;
    display : flex;
}

#logo img{
    margin-left: 20px;
}

.title{
    display : inline-flex;
    position : absolute;
    justify-content: center;
    padding-left: 150px;
    font-size: 7rem;
    font-weight: bolder;
    flex-wrap: wrap;
    align-items: center;
    color:rgb(234, 33, 33);
    width : 700px;
    height : 500px;
}

#limg{
    width : 300px;
    height: 300px;
    padding-left: 850px;
    border:none;
    opacity: 0.5;
    z-index : 0;
}
.logoimg{
    padding-top:100px;
    display : flex;
    justify-content: center;
    width : 100%;
    height: 300px;
    object-fit: contain;
}

.tcontent{
    position:absolute;
    margin-top: 100px;
}
.tcontent p{
    display : flex;
    width : 500px;
    color:rgb(196, 255, 108);
    padding-left: 100px;
    font-size: 17px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
    white-space:nowrap;
    opacity: 0.7;
    animation:animate 1s ease-in-out infinite alternate;
    animation :
        typing 3s steps(60);
}

@keyframes animate{
    from{
        text-shadow: 0 0 20px rgb(189, 233, 124);
    }
    to{
        text-shadow: 0 0 30px rgb(189, 233, 124),
                    0 0 10px rgb(189, 233, 124);
    }
}
@keyframes typing{
    from{width : 0 }
}
.first-page{
    margin: 0px;
    background-repeat: no-repeat;
    width : 100vw;
    height: 100vh;
}

.navdiv{
    background-color: #010004;
    position:fixed;
    font-size : 1.15rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    display : flex;
    width : 100%;
    color: white;
    align-items : center;
    justify-content: end;
    opacity:0.7;
}

li{
    list-style: none;
    display:inline-block;
    margin-right: 50px;
    padding-right: 50px;
}

.imp a{
    padding: 10px;
    border-radius: 20px;
    transition : all ease-in-out 0.5s;
}

.imp a:hover{
    background-color: white;
    color : black;
}

a{
    color: aliceblue;
    text-decoration: none;
}

#info{
    display : flex;
    justify-content: center;
    height : 200px;
    width : 100px;
}
.second-page{
    background: linear-gradient(to right, #010004, #303035);
    height : 100vh;
    width : 100vw; 
}

.head h1{
    background: linear-gradient(to right,rgb(0, 49, 50),rgb(2, 218, 226));
    border-radius : 20px;
    padding : 10px;
    margin-left: 50px;
}

.spage-header{
    display : flex;
    padding-left: 10px;
    font-size: 1rem;
    padding-top: 50px;
    color :aliceblue;
    margin :0px;
}

.spage-header h1{
    padding-left: 50px;
    padding-right: 100px;
    font-size: 50px;
}

.spage-header #p1{
    width : 100%;
    padding-right: 100px;
    font-size: large;
    display : flex;
    justify-content: end;
    align-items: center;
}
.events{
    display : flex;
}

.list-events{
    display :inline-flex;
    justify-content: center;
    width :90%;
    height : 500px;
    gap:15px;
    margin-left: 50px;
    transition : all ease-in-out 0.5s;
}

#margl{
    margin-left :50px;
}


img{
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border : solid white 2px;
    transition: all ease-in 0.4s;
}

.list-events img:hover{
    width :25%;
}

#description{
    position : relative;
    margin-top : 100px;
    padding-right : 40px;
    flex-wrap: wrap;
    color: aliceblue;
    width : 20%;
    height : 500px;
    margin-left: 100px;
}

.third-page{
    background: linear-gradient(to left, #010004, #3a3a3f);
    height : 100vh;
    width : 100vw;
}

.head1 h1{
    margin-left : 50px;
    padding-left: 10%;
    font-size: 3rem;
    color :aliceblue;
    margin-top:100px;
    display : inline-block;
    background: linear-gradient(to left,rgb(232, 235, 92),rgb(137, 75, 0));
    border-radius : 20px;
    padding : 10px;
}

.winner{
    display : flex;
   justify-content: space-between;
   width:80%;
   margin-left: 200px;
   height : auto;
}

#wtitle{
    font-size: 4rem;
    margin-bottom: 50px;
    color: azure;
    margin-left: 50px;
}
.winner img{
    border : none;
}

.winners{
    display : flex;
    justify-content: space-between;
    width:80%;
    margin-left: 200px;
    height : auto;
    font-size: 50px;
    color: white;
}
ul li a{
    padding: 10px;
    border-radius: 20px;
    transition : all ease 0.5s;
}

ul li a:hover{
    background : white;
    color : black;
}

.fourth-page{
    background: linear-gradient(45deg,#3a3a3f 50%,#010004 50%);
    height : 100vh;
    width : 100vw;
}

.fourth-page h1{
    padding-left: 10%;
    padding-top : 80px;
    font-size: 3rem;
    color :aliceblue;
    margin-top:100px;
    margin-left :50px;
    display : inline-block;
    background: linear-gradient(to left,rgb(150, 13, 171),rgb(64, 3, 64));
    border-radius : 50px;
    padding : 20px;
}

input{
    display : block;
    position : reltive;
    padding-left: 20px;
    width : 300px;
    height : 40px;
    font-size:medium ;
    margin-left: 150px;
    border-radius: 30px;
    z-index: 111;
    background: transparent;
    border: 1px solid white;
    transition : 0.1s ease
}

input:focus , input:valid{
    color:greenyellow;
}

#ip3{
    height : 80px;
}

.entry-area{
    color: aliceblue;
    margin-left : 170px;
    margin-top:100px;
    opacity : 1;
}

.container p{
    background: linear-gradient(to left,rgb(2, 183, 2),rgb(242, 242, 47));
    display : inline-block;
    padding : 5px;
    margin-left: 150px;
    color: rgb(48, 3, 48);
    border-radius: 10px;
}

#a{
    margin-top: 40px;
}

@media((max-width : 600px) or (min-width:900px))
{
    li{
        opacity : 0;
    }
    .first-page{
        margin: 0px;
        background: linear-gradient(to left,black,grey);
    }

    .title{
        position:relative;
        height : 200px;
        width : 400px;
        display:flex;
        padding:0;
        margin:0;
        font-size : 40px;
        flex-wrap: wrap;
    }

    .logo{
        padding:0;
        display:flex;
        justify-content: center;
    }
    .logoimg{
        opacity: 0;
    }

    *{
        margin:0px;
        padding:0px;
        text-wrap-mode: wrap;
        display:flex;
        flex-wrap: wrap;
        animation:none;
    }

    .tcontent{
       width: 0px;
       height: 0px;
    }
    .navdiv{
        background:none;
        width:50%;
    }

    .logoimg{
        width:0;
        height:0;
    }


    .winner{
        margin:0px;
        padding: 0px;
    }

    .head1{
        margin:0;
        padding: 0;
    }
    .winners{
        padding:0px;
        margin: 0px;;
        font-size: 30px;
    }

    #wtitle{
        font-size: 30px;
    }
    .container{
        position:relative;
        margin: 0px;
        padding:0px;
    }

    .head h1{
        font-size: 20px;
        padding: 9px;
        margin-left: 0px;
    }

    .head1 h1{
        font-size: 20px;
        padding: 5px;
        margin : 0px;
    }

    .fourth-page h1{
        font-size: 20px;
        margin-left: 0px;
        background: none;
    }


}